body {
    padding-bottom: 20px;
}
.logo {
	margin:0px 0px 20px 0px;
}
@media screen and (min-width: 768px) {
.logo {
	margin:0px 10px 20px 10px;
}
}


/* hero styling 
-------------------------------------------------- */
.hero {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/themes/birdbunker/images/home.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
@media (min-width: 768px) {
.hero {
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
}
}
.hero #distill-promo {
    opacity: 0;
    position: absolute;
    right: -60px;
    top: 55px;
    transform: rotate(40deg);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease-in;
    width: 350px;
    z-index: 5;
}
@media (min-width: 992px) {
.hero #distill-promo {
    opacity: 1;
}
}
.hero h1 {
    color: #FFFFFF;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 18px;
    text-align: center;
}
@media (min-width: 768px) {
.hero h1 {
    font-size: 1.94438em;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
}
@media (min-width: 1200px) {
.hero h1 {
    font-size: 2.79938em;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
}

/* nav styling and adjustments
-------------------------------------------------- */
.navbar {
    margin-bottom: 20px;
}
.navbar-nav  {
	margin-left:0px;
}
.navbar-collapse {
	padding-left:0px;
}
.container-fluid {
	padding-left:0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-left:0px;
}



/* carousel styling
-------------------------------------------------- */
.carousel {
  position: relative;
  margin-bottom:2%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .1) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .1) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
  opacity: .9;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 20px;
}
.carousel-indicators .active {
  width: 22px;
  height: 22px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 10px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: left;
  text-shadow: none;
}
.carousel-caption h1,
.carousel-caption .h1 {
  font-size: 22px;
}
.carousel-caption p,
.carousel-caption .p {
  font-size: 16px;
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
	bottom: 10px;
  	right: 10%;
    left: 50%;
    padding-bottom: 10px;
  }
  .carousel-indicators {
    bottom: 0px;
  }
}
@media screen and (min-width: 992px) {
  .carousel-caption {
	bottom: 60px;
  }
}

/*birdbunker styles
-------------------------------------------------- */

.bb-main-col {
	padding-left:2%;
	padding-right:1%;
}

.bb-right-col {
	padding-left:1%;
	padding-right:2%;
}

.ccm-page-list-title a[href*='sold'] {
  color:#F00 !important; /* SOLD red */
}
.ccm-page-list-title a:hover[href*='sold'] {
  color:#c3973e !important; /* SOLD red */
}

.ccm-page-list-title a[href*='pending-sale'] {
  color: #090 !important /* pending green */
}
.ccm-page-list-title a:hover[href*='pending-sale'] {
  color: #c3973e !important /* pending green */
}


/* Diecast Model list styling
-------------------------------------------------- */

.dcm-thumb {
	float:left;
	border:#ccc solid thin;
	margin:10px 20px 20px 10px;
}
.dcm-description {
	margin:10px;


}
.dcm-link {
	margin-bottom:10px;
	margin-left:10px
}
.dcm-price {
	color:#F00;
	font-weight:bold;
	font-size:18px;
	margin-left:10px
}
.clear-line {
	float:left;
	border-bottom:thin solid #ccc;
	margin-bottom:10px;
	width:100%;
}




/* footer styling
-------------------------------------------------- */
.login {
	float:right;
	padding: 3px 0px;
	}
.sign-in {
	color:#000;
}
.sign-in a {
	color:#000;
}


/* C5 CMS conflict fixes
-------------------------------------------------- */
.ccm-ui .popover.below .arrow {
	border-top-style: none !important;
}
.ccm-input-text {
	height: 100% !important;
}
.div.ccm-ui button, div.ccm-ui input {
	height: 100%;
}